// https://vuetifyjs.com/en/getting-started/frequently-asked-questions/#scrollbar-overflow
html {
  overflow-y: auto;
}

.full-height {
  height: 100%;
}

// override .v-application ul, .v-application ol
.v-application ul.browser-print-holder {
  padding-left: 0px;
}

.btn-right {
  > .v-btn__content {
    justify-content: end;
  }
}

.text-justify {
  hyphens: auto;
}

$alice-font-family: "Akzidenz-Grotesk Pro";
@font-face {
  font-family: $alice-font-family;
  src: url("/fonts/Akzidenz-Grotesk-Pro/AkzidenzGroteskPro-Regular.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: $alice-font-family;
  src: url("/fonts/Akzidenz-Grotesk-Pro/AkzidenzGroteskPro-It.otf")
    format("opentype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: $alice-font-family;
  src: url("/fonts/Akzidenz-Grotesk-Pro/AkzidenzGroteskPro-Bold.otf")
    format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: $alice-font-family;
  src: url("/fonts/Akzidenz-Grotesk-Pro/AkzidenzGroteskPro-BoldIt.otf")
    format("opentype");
  font-weight: bold;
  font-style: italic;
}
